[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
pymongo = "*"
dnspython = "*"
uvicorn = "*"
email-validator = "*"
fastapi-jwt-auth = "==0.4.0"
pylint = "*"
aioredis = "*"
async-property = "*"
google = "*"
typing_extensions = "*"

[requires]
python_version = "3.7"
