[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
pymongo = "*"
dnspython = "*"
uvicorn = "*"
email-validator = "*"
fastapi-jwt-auth = "==0.4.0"
pylint = "*"
redis = "*"
async-property = "*"
google = "*"
typing_extensions = "*"
aiofiles = "*"
passlib = {extras = ["bcrypt"],version = "*"}
pipfile = "*"
fastapi-utils = "*"
google-cloud = "*"
google-cloud-storage = "*"
python-multipart = "*"
starlette = "*"
websockets = "*"

[requires]
python_version = "3.6"
